.DS_Store
*/.DS_Store
~$*
*.tmp
*.log
.Rhistory
.RData
.Rapp.history
.Rproj.user/
__pycache__/
*.py[cod]
node_modules/
node_modules
local/
preproccessing/arxiv/
preprocessing/arxiv/
cleaned_data/Plot/
cleaned_data/plot/
